{% extends 'index.html' %}

{% block content %}
<body>


    <main id="main">
  
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
  
          <ol>
            <li><a href="index.html">Home</a></li>
          </ol>
          <h2>Blog</h2>
  
        </div>
      </section><!-- End Breadcrumbs -->
  
      <!-- ======= Blog Section ======= -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-8 entries">
            {% for blogs in blog  %}
              <article class="entry">
  
                <div class="entry-img">
                  <img src="{{blogs.image.url}}" alt="" class="img-fluid">
                </div>
  
                <h2 class="entry-title">
                  <a href="{% url 'blog_detail' blogs.category.slug blogs.id %}">{{blogs.name}}</a>
                </h2>
  
                <div class="entry-meta">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-single.html">Samil Yesil</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-single.html"><time datetime="2020-01-01">{{blogs.date}}</time></a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-bootstrap-reboot"></i> <a href="blog-single.html">{{blogs.update_at}}</a></li>
                  </ul>
                </div>
  
                <div class="entry-content">
                  <p>
                    {{blogs.description | safe| truncatewords:10}}
                  </p>
                  <div class="read-more">
                    <a href="{% url 'blog_detail' blogs.category.slug blogs.id %}">Read More</a>
                  </div>
                </div>
  
              </article><!-- End blog entry -->
              {% endfor %} 
  
     
             
  
            </div><!-- End blog entries list -->
  
            <div class="col-lg-4">
  
              <div class="sidebar">
  
                
                
                
                <h3 class="sidebar-title">Categories</h3>
                {% for ct in category  %} 
                <div class="sidebar-item categories">
                  <ul>
                    <li><a href="{% url 'courses_by_category' ct.slug %}">{{ct.name}}<span></span></a></li>
               
                  </ul>
                </div><!-- End sidebar categories-->
                {% endfor %} 
  
                <h3 class="sidebar-title">Recent Posts</h3>
                <div class="sidebar-item recent-posts">
                {% for rdm in randomproducts  %}
                  <div class="post-item clearfix">
                    <img src="{{rdm.image.url}}" alt="">
                    <h4><a href="{% url 'blog_detail' rdm.category.slug rdm.id  %}">{{rdm.name}}</a></h4>
                    <time datetime="2020-01-01">{{rdm.date}}</time>
                  </div>
                  {% endfor %}
           
               
                
  
               
  
                </div><!-- End sidebar recent posts-->
               
                <h3 class="sidebar-title">Tags</h3>
                
                <div class="sidebar-item tags">
                  <ul>
                    {% for tag in tags %}
                    <li><a href="{% url 'courses_by_tag' tag.slug %}">{% if tag.slug in request.path %} <b>{{tag.name}}</b>{% else %} {{tag.name}} {% endif %}</a></li>
                
                    {% endfor %} 
                    
                  </ul>
                </div><!-- End sidebar tags-->
                 
  
              </div><!-- End sidebar -->
  
            </div><!-- End blog sidebar -->
  
          </div>
  
        </div>
      </section><!-- End Blog Section -->
  
    </main><!-- End #main -->
  
  
  
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
  
  
  
  </body>
  
  </html>
{% endblock content %}
